.Edit-PopoverContent {
  border-radius: 4px;
  padding: 20px;
  width: fit-content;
  background-color: var(--background-blur-dark);
  backdrop-filter: blur(10px);
  color: var(--primary-text-color);
  font-size: small;
  outline: none;
}
.Edit-PopoverContent button{
    all:unset;
    cursor: pointer;
}
