.sidebar-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}
.sidebar-links {
  color: var(--primary-text-color);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
  gap: 20px;
}
.sidebar-heading {
  color: var(--primary-text-color);
  line-height: 0;
  margin-bottom: -20px;
  font-size: 5rem;
}
.sidebar-links > div {
  font-size: 22px;
  padding: 5px 12px;
  cursor: pointer;
}
.sidebar-links > div > span {
  font-weight: var(--fw-bold);
  font-size: 19px;
  margin-left: 20px;
}

.sidebar-links > div:hover {
  background-color: var(--hover-color);
  border-radius: 20px;
}
.sidebar-user {
  position: absolute;
  bottom: 30px;
  color: var(--primary-text-color);
  cursor: pointer;
  z-index: 9;
}

.sidebar-user-flex {
  display: flex;
  gap: 10px;
  align-items: center;
}
.sidebar-user-img > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.sidebar-user-info > p {
  line-height: 0.2;
  font-size: medium;
  text-align: left;
  font-weight: var(--fw-bold);
}
.sidebar-user-info > p:nth-child(2) {
  margin-bottom: 0;
  font-size: small;
  font-weight: 500;
  color: var(--ember);
}
.sidebar-user-action {
  margin-left: 20px;
}

@media (max-width: 870px) {
  .sidebar-links {
    align-items: center;
  }
  .sidebar-links > div > span,
  .sidebar-user-action,
  .sidebar-user-info {
    display: none;
  }

  .sidebar-heading {
    font-size: 3rem;
    margin-top: 30px;
    margin-bottom: 10px;
  }
}
@media (max-width: 450px) {
  .sidebar-links{
    /* align-items: baseline; */
    flex-direction: row;
    justify-content: space-between;

  }
  .sidebar-user{
    position: unset;
  }
  .sidebar-links > div:hover{
    background-color: transparent;
  }
  .sidebar-heading{
    display: none;
  }
}
