.feed-container {
  display: grid;
  grid-template-columns: 375px 700px auto;

}
.info-bar {
  background-color: var(--background-blur);
  backdrop-filter: var(--blur);
}
.info-bar-fixed {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  border-left: var(--layout-border);
  min-height: 100vh;
}

/* .sidebar {
} */
.sidebar-fixed {
  position: sticky;
  top: 0;
  min-height: 100vh;
  display: flex;
  border-right: var(--layout-border);
  justify-content: center;
  background-color: var(--background-blur);
  backdrop-filter: var(--blur);
}

.main-feed {
  /* width: 700px; */
  justify-self: center;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}
.main-feed-container {
  background-color: var(--background-blur);
  backdrop-filter: blur(15px);
}
.main-feed-populated {
  /* grid-template-rows: min-content 1fr min-content; */
}

@media (max-width: 870px) {
  .feed-container {
    grid-template-columns: 80px 1fr;
  }
  .info-bar {
    display: none;
  }
}

@media (max-width: 450px) {
  .feed-container {
    all: unset;
    display: flex;
  }
  .main-feed {
    flex-basis: 100%;
    min-height: 100vh;
  }
  .main-feed-populated {
    padding-bottom: 50px;
  }
  .sidebar {
    position: fixed;
    background-color: var(--background-blur);
    backdrop-filter: var(--blur);
    border-top: var(--layout-border);
    height: 5rem;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    place-items: center;
    z-index: 1;
  }
  .sidebar-fixed {
    all: unset;
  }
}
