.suggestionBoxMobile-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  overflow-x: hidden;
  color: var(--primary-text-color);
  font-size: smaller;
  font-weight: 600;
  padding: 20px;
  gap: 20px;
}
.suggestionBoxMobile-info > img {
  height: 60px;
  width: 60px;
  background-color: var(--secondary-color);
  border-radius: 50%;
  cursor: pointer;
}
.suggestionBoxMobile-info > p {
  margin-top: 10px;
  white-space: nowrap;
}

.hidden {
  display: none;
}
